$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

.title {
    margin: 0 0 3rem;
    font-size: 3rem;
}

.main-container {
    margin-bottom: 100px;
}

.header {
    background: #232323;
    color: #232323;
    line-height: 1em;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 500;
    height: 100px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;

    & .image {
        fill: #ffffff;
        max-height: 24px;
        width: 100%;
    }
}

.product {
    margin-bottom: 3rem;

    & .description {
        margin-top: 1.5rem;
    }

    & .text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        color: #232323;
        line-height: 1.5;
        margin: 0 0 5px;
    }

    & .brand {
        font-weight: 400;
    }

    & .title {
        font-weight: 300;
    }

    & .image {
        text-align: center;
    }

    & .loading {
        max-width: 100px;
    }
}

.product-single {
    & .brand-image{
        max-width: 100px;
    }

    & .title {
        margin: 1rem 0;
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight: 400;
    }

    & .price {
        font-size: 1.5rem;
    }

    & .description {
        padding: 1rem 0;
    }

    & .sku {
        margin: 1rem 0;
    }

}

.heading {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

#search-box {
    min-width: 300px;
    display: flex;

    & input[type='text']{
        width: 70%;
        border-radius: 0px;
        -webkit-appearance: none;
        box-shadow: none;
        height: 40px;
        border-right: 0px;
        border-color: #ccc !important;
    }

    & button{
        height: 40px;
        background: #232323;
        width: 30%;
        color: white;
        -webkit-appearance: none;
        border: 1px solid #232323
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 2rem;
        min-width: 100%;
    }

    & :focus {
        outline: none;
    }
}

.shop{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.results {
    min-height: 30px;
}

.pagination {
    float: right;

    & button{
        background: none;
        -webkit-appearance: none;
        border: 1px solid #232323;
        font-size: 1.5rem;
        padding: 0.4rem 1.2rem;
        min-width: 80px;
    }

    & button {
        &:last-of-type{
            margin-left: 1rem;
        }
        &:focus{
            outline: none;
        }
    }
}